body{
	background-color: #f5f5f5;
}
.header{
	background-color:#011E29;
	color:white;
	padding:1px;
	text-align:center;
}
.content{
	display:flex;
	justify-content:space-around;
	padding-top:10px;
}
.latest-news-section{
	width:25vw;
	height:25vh;
	border-radius:8px;
	text-align:center;
	padding:20px;
	background-color:white;
}
.main-article-section{
	background-color:white;
	padding:20px;
	width:33vw;
	height:35vh;
	border-radius:8px;
	text-align:center;
}
.main-article-section p{
	font-size:13px;
}
.pictorial-news-section{
	background-color:white;
	padding:20px;
	width:20%;
	border-radius:8px;
	text-align:center;
}
.pictorial-news-section img{
	width:100%;
}
